:root { 
--blue_gray_50:#f1f1f1; 
--indigo_50_0c:#e7e5ff0c; 
--deep_purple_900:#291782; 
--indigo_A400_e5:#544aeae5; 
--deep_purple_200:#a8a3f4; 
--deep_purple_800_99:#3028a399; 
--indigo_900_cc:#0f0a5bcc; 
--black_900_01:#0c0c0c; 
--black_900:#020118; 
--gray_600:#7f7f7f; 
--teal_A700:#14b8a9; 
--gray_400:#c9c9c9; 
--blue_gray_100:#cccccc; 
--amber_500:#ffbd14; 
--gray_900:#06032f; 
--indigo_500_7f:#4137d17f; 
--gray_300:#e6e6e6; 
--gray_100:#f6f6f6; 
--indigo_400:#635bd6; 
--indigo_900_03:#180a5c; 
--indigo_900_01:#1e1682; 
--indigo_900_02:#160f6f; 
--deep_purple_200_01:#b1a3f5; 
--indigo_A400:#554ae9; 
--indigo_900:#0f0a5b; 
--white_A700:#ffffff; 
--indigo_500:#4137d1; 
--cyan_400:#2dd4c5; 
}