
 @font-face { font-display: swap; font-style : normal; src: url("/v2/fonts/BeVietnamProSemiBold.ttf"); font-family : "Be Vietnam Pro"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : normal; src: url("/v2/fonts/LexendBold.ttf"); font-family : "Lexend"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("/v2/fonts/LexendSemiBold.ttf"); font-family : "Lexend"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : normal; src: url("/v2/fonts/LexendRegular.ttf"); font-family : "Lexend"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("/v2/fonts/InterRegular.ttf"); font-family : "Inter"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("/v2/fonts/InterSemiBold.ttf"); font-family : "Inter"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : normal; src: url("/v2/fonts/BeVietnamProRegular.ttf"); font-family : "Be Vietnam Pro"; font-weight : 400;  }
